.left-container
{
    background-color: ghostwhite;
    width: 500px;

    height: 450px;
    border-radius: 40px;
 padding: 50px;
    position: relative;
}
.left-container h1
{
    background-color: ghostwhite;
}
.left-container p
{
    background-color: ghostwhite;
    margin-top: 20px;
}

.left-container input
{
    padding: 10px;
    border: 1px solid gray;
    border-radius: 5px;
    width: 80%;
    margin-top: 20px;
}
.left-container button
{
padding: 10px 120px;
background-color: crimson;
border: none;
border-radius: 20px;
margin-top: 20px;
color: #fff;
font-weight: 500;
}