.footer-section 
{ 
    
    display: flex;
   justify-content: end;
   margin-top:50px ;
   padding-right:100px ;
}
.footer-section  ul li
{
 display: inline;
 margin-left: 20px;   
}
.footer-section  ul li a
{
    color: darkgray;
}